<a href="https://colab.research.google.com/github/Satrio150105/Proyek-01/blob/main/Latihan_Minggu_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
range(3)

range(0, 3)

In [ ]:
dates = [1982,1980,1973]
N = len(dates)

for i in range(0,3):
    print(dates[i])

1982
1980
1973

In [ ]:
for i in range(-2, 8):
    print(i)

-2
-1
0
1
2
3
4
5
6
7

In [ ]:
for year in dates:
    print(year)

1982
1980
1973

In [ ]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'weight'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is weight
Before square  1 is yellow
After square  1 is weight
Before square  2 is green
After square  2 is weight
Before square  3 is purple
After square  3 is weight
Before square  4 is blue
After square  4 is weight

In [ ]:
squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [ ]:
dates = [1982, 1980, 1973, 2000]

i = 0
year = 0

while(year == 1982):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

It took  0 repetitions to get out of loop.

In [ ]:
string = ""

x = int(input("Masukkan angka: "))
bar = x

while bar >= 0:
	kol = bar

	while kol > 0:
		string = string + "   "
		kol = kol - 1
	kiri = 1

	while kiri < (x - (bar-1)):
		string = string + " * "
		kiri = kiri + 1
	kanan = 1

	while kanan < kiri -1:
		string = string + " * "
		kanan = kanan + 1

	string = string + "\n\n"
	bar = bar - 1

print (string)

Masukkan angka: 8


                      *

                   *  *  *

                *  *  *  *  *

             *  *  *  *  *  *  *

          *  *  *  *  *  *  *  *  *

       *  *  *  *  *  *  *  *  *  *  *

    *  *  *  *  *  *  *  *  *  *  *  *  *

 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

In [ ]:

n = int(input("Masukkan angka: "))

for i in range(n):
    print(' '*(n-i), end='')

    coef = 1
    for j in range(0, i + 1):
        print(coef, end=' ')
        coef = coef * (i - j) // (j + 1)
    print()

Masukkan angka: 8
        1
       1 1
      1 2 1
     1 3 3 1
    1 4 6 4 1
   1 5 10 10 5 1
  1 6 15 20 15 6 1
 1 7 21 35 35 21 7 1

In [ ]:
n = int(input("Masukkan angka: "))

for i in range(n):
    print(' '*(n-i), end='')

    coef = 1
    row_sum = 0
    for j in range(0, i + 1):
        print(coef, end=' ')
        row_sum += coef
        coef = coef * (i - j) // (j + 1)
    print(f"Jumlah: {row_sum}")

Masukkan angka: 8
        1 Jumlah: 1
       1 1 Jumlah: 2
      1 2 1 Jumlah: 4
     1 3 3 1 Jumlah: 8
    1 4 6 4 1 Jumlah: 16
   1 5 10 10 5 1 Jumlah: 32
  1 6 15 20 15 6 1 Jumlah: 64
 1 7 21 35 35 21 7 1 Jumlah: 128